<app-home-page></app-home-page>
<div class="container mt-4">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    
                    <h1>Contact Us</h1>
                    <p>Need to get in touch with us? Either fill out the form with your inquiry</p>
                  </div>
                
                
            </div>
        </div>
    </div>
</div>
