<app-viewnavbar></app-viewnavbar>
<table class="table table-dark table-striped">
    <thead>
      <tr>
        
    
        
        <!-- <th scope="col">ID</th> -->
        <th scope="col">Name</th>
        <th scope="col">Friend Name</th>
        <th scope="col">Friend Nick Name</th>
        <th scope="col">Describe Your Friend</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of data">
       
        <!-- <td>{{i._id}}</td> -->
        <td>{{i.name}}</td>
        <td>{{i.friendName}}</td>
        <td>{{i.friendNickName}}</td>
        <td>{{i.DescribeYourFriend}}</td>
      
      </tr>
      
    </tbody>
  </table>



